


body{
    overflow-x: hidden;
    /* What could you use to center the content in the body easily? */
    background-color: black;
}
.grid-cont{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 13em;
    grid-gap: 30px;              
}
p{
    color: white;
}
.img-cont img {
  width: 80%; 
  height: 100%;
  align-items: center;
}
.img-cont img:hover {
    transform: skewX(15deg);
    z-index: 2;
    transition-duration: 100ms;
}
.img-cont img:not(:hover){
    
    z-index: 1;
}


